a{
  text-decoration: none !important;
  color: #000000 !important;
}
a.mr-5 {
  text-align: center;
  margin-left: 30px;
  font-size: 18px;
  font-family: cursive;
}
/* .text-white{
  color: #ffff !important;
} */